:root {
  --main-font-family: "InterVariable";
  --main-font-size: clamp(0.5rem, 0.5rem + min(1svw, 1svh), 2rem);
  --main-grid-gap: max(0.25svh, 0.25svw);
  --main-border-radius: min(0.25svh, 0.25svw);
  --main-padding: min(1svw, 1svh);
  --main-aspect-ratio-x: 16;
  --main-aspect-ratio-y: 9;
  --main-aspect-ratio: var(--main-aspect-ratio-x) / var(--main-aspect-ratio-y);

  --main-button-height: 8vh;

  --header-hight: 8svh;
  --main-height: 1fr;
  --footer-height: 8svh;
  --group-height: 20svh;

  --transition-timing-function: cubic-bezier(.03,.97,.93,.95);
  --transition-duration: 0.125s;

  --border-radius: 0.25rem;
  --scale-factor: 1.125;

  --filter-drop-shadow-x: 2px;
  --filter-drop-shadow-y: 4px;
  --filter-drop-shadow-blur: 6px;

  --box-shadow-x: 0px;
  --box-shadow-y: 0px;
  --box-shadow-blur-radius: 2px;
  --box-shadow-spread-radius: 0px;

  box-sizing: border-box;
  text-overflow: ellipsis;
}

@media(prefers-color-scheme: dark) {
  :root {
    --main-color: var(--theme-white);
    --main-background-color: var(--theme-dark_gray);

    --main-accent-background-color: var(--theme-blue);
    --main-accent-color: var(--theme-white);

    --ctrl-background-color: var(--theme-black);
  }
}

@media(prefers-color-scheme: light) {
  :root {
    --main-color: var(--theme-dark_gray);
    --main-background-color: var(--theme-white);

    --main-accent-background-color: var(--theme-blue);
    --main-accent-color: var(--theme-white);

    --ctrl-background-color: var(--theme-darkest_white);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: inherit;

  /* pointer-events: none;
  user-select: none; */

  user-select: none;
  position: relative;
}

html {
  font-family: var(--main-font-family);
  font-size: var(--main-font-size);
  flex-wrap: wrap;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: var(--main-font-family);
  }
}

body {
  color: var(--main-color);
  background-color: var(--main-background-color);

  text-decoration: none;
  /* font-size: 1.5rem; */
  font-size: var(--main-font-size);
  font-weight: 400;
  font-variation-settings: "wght" 400, "slnt" 0;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "case" 0, "cpsp" 0, "dlig" 0, "frac" 0, "dnom" 0, "numr" 0, "salt" 0, "subs" 0, "sups" 0, "tnum", "zero", "ss01", "ss02" 0, "ss03" 0, "ss04" 0, "cv01" 0, "cv02" 0, "cv03" 0, "cv04" 0, "cv05" 0, "cv06" 0, "cv07", "cv08" 0, "cv09" 0, "cv10" 0, "cv11" 0, "calt", "ccmp", "kern";

  min-height: 100svh;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-weight: 900;
  font-variation-settings: "wght" 900, "opsz" 32;
  font-size: calc(var(--main-font-size) * var(--h-coeff));

  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-content: center;

  flex-wrap: wrap;
}

h1 {
  --h-coeff: 5;
}

h2 {
  --h-coeff: 4;
}

h3 {
  --h-coeff: 3;
}

h4 {
  --h-coeff: 2.5;
}

h5 {
  --h-coeff: 2.25;
}

svg {
  pointer-events: none !important;
  user-select: none !important;
}

/* button {
  max-width: 6rem;
  width: 6rem;
  max-height: 3.5rem;
  height: 3.5rem;
  cursor: pointer;

  background-color: var(--theme-green);
  border-radius: var(--border-radius);
  color: var(--main-background-color);
  font-size: medium;
} */

button {
  aspect-ratio: var(--main-aspect-ratio);
  min-width: 4.5svw;
  font-size: inherit;
}

input,
label,
button {
  border-radius: var(--main-border-radius);
}

input,
input:autofill,
input:-webkit-autofill {
  color: var(--main-color);
  background-color: var(--main-background-color);
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'] {
  padding: var(--main-padding);
}

::-webkit-input-placeholder,
::placeholder {
  font-family: var(--main-font-family);
  font-size: calc(var(--main-font-size) * 0.75);
}

input[type='radio']:not(:checked) ~ label[for] {
 color: var(--main-color);
 background-color: var(--main-background-color);
}

input[type='radio']:checked ~ label[for] {
 color: var(--main-accent-color);
 background-color: var(--main-accent-background-color);
}

label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

label[for],
button {
  cursor: pointer;
}